{% load rest_framework %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Древовидное представление сотрудников</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container" style="margin-top:30px" id="employee-container">
    <h1>Список сотрудников</h1>
</div>

<template id="employee-card">
    <div class="col-md-12">
        <div class="modal-dialog" style="margin-bottom:0">
            <div class="modal-content">
                <div class="panel-heading">
                    <h3 class="panel-title">Сотрудник</h3>
                </div>
                <div class="panel-body" id="employee-info">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    window.addEventListener("load", function () {
        const employees_container = document.getElementById("employee-container")
        const subordinates_url = "{% url 'root_subordinates' %}"
        const card_template = document.getElementById("employee-card")

        function loadEmployees(){
            const XHR = new XMLHttpRequest();

            XHR.addEventListener("load", function (event) {
                const jsonResponse =  JSON.parse(event.target.response);
                jsonResponse.forEach(function (employee, index) {
                    console.log(employee);
                    let card_employee = card_template.content.cloneNode(true);
                    card_employee.getElementById("employee-info").innerHTML =
                        `Имя: ${employee["full_name"]}<br>
                        Должность: ${employee["position"]}<br>
                        Дата приема на работу: ${employee["employment_date"]}<br>
                        Оклад: ${employee["salary"]}<br>
                        <button class="btn btn-sm btn-success">Загрузить подчиненных</button>
                        `;
                    employees_container.appendChild(card_employee);
                });
            });

            XHR.addEventListener("error", function (event) {
            });
            XHR.open("GET", subordinates_url);

            XHR.send();
        }

        loadEmployees();

    });
</script>

</body>
</html>